
.single-js-post{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    height: 350px
}
.title-box{
    background-color: #00bfa6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.card-info{
    margin-left: 20px;
}
.card-info h1{
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px 0;
}
.card-info h6{
    background-color: #00bfa686;
    padding: 10px;
    border-radius: 25px;
    width: 100px;
    color: #fff;

}
.card-info p{
    color: gray;
}

.continue-reading button{
    border: none;
    outline: none;
    background-color: transparent;
    color: #00bfa6;

}
.continue-reading{
    margin: 10px 0;
}
.continue-reading .arrow{
    margin-left: 10px;
}


@media screen and (max-width:576px){
    .single-js-post{
        flex-direction: column;
    }
    .title-box{
        padding: 20px;
    }

    .single-js-post{
        height: 550px;
    }
}