

.notfound-area{
    width: 60%;
    margin: auto;
}
.notfound-area img{
    width: 100%;
    margin-bottom: 20px;
}

.gotohome{
    text-decoration: none;
    color: white;
    background-color: turquoise;
    padding: 10px;
 
}

.gotohome:hover{
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 768px){
    .notfound-area{
        width: 100%;
    }

}