

.header-area{

    padding: 120px  0;

}
.header-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.container h4{
    font-size: 20px;
    background-color:#00bfa6;
    width: 200px;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
}
.container h2{
    background-color:#00bfa6;
    padding: 12px;
    width: 100%;
    color: #eee;
}
.button{
    border: none;
    outline: none;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid #00bfa6;
    color: #000;

}
.button:hover{
    background-color:#00bfa6;
    color: #fff;
}
.btn-flex{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.slash{
    margin:5px 10px;
    font-size: 25px;
    color: #00bfa6 ;
}
.bodyimg{
    width: 90%;
    margin-left: 70px;
}


.line{
    margin-top: 10px;
    width: 250px;
    border-top: 4px solid #00bfa6;
}
.line mark{
    background:#00bfa6;
    padding: 3px;
}


/* responsive */

@media  screen and (max-width:992px) {
    .header-area{
        padding: 50px 0;
    }
    .header-row{
        grid-template-columns: repeat(1, 1fr);
    }
    .header-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bodyimg{
        margin-left: 0;
    }
}
@media  screen and (max-width:768px) {

}

/* 576 */
@media  screen and (max-width:576px) {
    .header-img{
        display: none;
    }
    .container h4{
        font-size: 12px;
        width: 50%;
    }
    .container h2{
        font-size: 15px;
        width: 100%;
    }

    .slash{
        display: none;
    }
    .button{
        margin-top: 10px;
        padding: 8px;
        margin-right: 3px;
    }
}

