

.recent-area-post{
    margin-top: 10px;
    background-color:#00bfa6;
    padding: 10px;
    cursor: pointer;
}
.recent-area .h5{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
.flex-recent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-recent h5{
    font-size: 12px;
    color: rgb(211, 209, 209);
}